<template>
    <!-- footer -->
  <div id="Footer">
    <v-footer color="primary lighten-1" padless>
      <v-layout justify-center wrap>
        <v-btn
          v-for="link in links"
          :key="link"
          color="white"
          text
          rounded
          class="my-2"
        >{{ link }}</v-btn>

        <v-flex primary lighten-2 py-4 text-center white--text xs12>
          <span>&copy; {{ new Date().getFullYear() }}</span> —
          <strong>SMARTJOB</strong>
        </v-flex>
      </v-layout>
    </v-footer>
  </div>
</template>

<script>
export default {
  name: "Footer",
  //export links
  data: () => ({
    drawer: null,
    links: ["Home", "About Us", "Team", "Services", "Blog", "Contact Us"]
  })
};
</script>