<template>
 <div id="navbar">
      <v-content>
        <!-- NAVBAR SI UTILISATEUR EST CONNECTE -->
        <v-app-bar app v-if="isLoggedIn" dark color="primary">
          <v-app-bar-nav-icon @click.stop="drawer = !drawer" class="hidden-md-and-up"></v-app-bar-nav-icon>
          <v-toolbar-items class="hidden-sm-and-down">
          <v-btn text x-large rounded @click="home">SMARTJOB</v-btn>
            <v-btn text rounded :to="{name: 'job_offer'}">Offres d'emploi</v-btn>
          </v-toolbar-items>
          <v-spacer></v-spacer>
          <v-spacer></v-spacer>
          <v-toolbar-items class="hidden-sm-and-down">
            <v-btn text rounded :to="{name: 'profil_user'}">mon Profil</v-btn>
            <v-btn text rounded @click.prevent="logout">Deconnexion</v-btn>
          </v-toolbar-items>
        </v-app-bar>
        <!-- NAVBAR SI UTILISATEUR N'EST PAS CONNECTE -->
        <v-app-bar app v-else dark color="primary">
          <v-app-bar-nav-icon @click.stop="drawer = !drawer" class="hidden-md-and-up"></v-app-bar-nav-icon>
          <v-btn text x-large rounded @click="home">SMARTJOB</v-btn>
          <v-spacer></v-spacer>
          <v-toolbar-items class="hidden-sm-and-down">
            <v-btn :to="{name: 'login'}" text rounded>Connexion</v-btn>
            <v-btn text rounded>
              <ModalRegistration />
            </v-btn>
          </v-toolbar-items>
        </v-app-bar>
        <v-card width="400" class="mx-auto mt-5"></v-card>
      </v-content>
      <!-- VU RESPONSIVE DE LA NAVBAR SI UTILISATEUR CONNECTE -->
      <v-navigation-drawer
        v-if="isLoggedIn"
        v-model="drawer"
        temporary
        app
        dark
        class="primary"
        id="drawer"
      >
        <v-list-item-content>
          <v-btn text x-large rounded @click="home">SMARTJOB</v-btn>
          <v-btn @click.stop="drawer = !drawer" :to="{name: 'profil_user'}" text rounded>mon Profil</v-btn>
          <v-btn text rounded :to="{name: 'job_offer'}">Offres d'emploi</v-btn>
          <v-btn text rounded @click.prevent="logout">Deconnexion</v-btn>
        </v-list-item-content>
      </v-navigation-drawer>
      <!-- VU RESPONSIVE SI UTILISATEUR N'EST PAS CONNECTE -->
      <v-navigation-drawer v-else v-model="drawer" temporary app dark class="primary" id="drawer">
        <v-list-item-content>
          <v-btn text x-large rounded @click="home">SMARTJOB</v-btn>
          <v-btn @click.stop="drawer = !drawer" :to="{name: 'login'}" text rounded>Connexion</v-btn>
          <v-btn @click.stop="drawer = !drawer" text rounded>
            <ModalRegistration />
          </v-btn>
        </v-list-item-content>
      </v-navigation-drawer>
  </div>
</template>

<script>

import ModalRegistration from "../forms/ModalRegistration.vue";

export default {
  name: "navbar",

  components: {
    ModalRegistration
  },

  data: () => ({
    drawer: null
  }),
  
  computed: {
    //function du store pour identifier si utilisateur est connecté
    isLoggedIn() {
      return this.$store.getters.isAuthenticated;
    }
  },

  methods: {

    //déconnexion + redirection profil
    logout() {
      this.$store.dispatch("logout").then(() => {
        this.$router.push("/login");
      });
    },

    //redirection
    home(){
      this.$router.push("/");
    }
  }
};

</script>