<template>
  <!-- ZONE IMAGES AVANT APRES -->
  <v-app>
    <v-container fluid>
        <v-row dense>
          <v-col
            v-for="card in cards"
            :key="card.title"
            :cols="card.flex"
          >
            <v-card>
              <v-img
                :src="card.src"
                class="white--text align-end"
                gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                height="500px"
              >
                <v-card-title v-text="card.title"></v-card-title>
              </v-img>
            </v-card>
          </v-col>
        </v-row>
    </v-container>
  </v-app>
</template>

<script>
  export default {
    data: () => ({
      //export data images
      cards: [
        { title: 'Habituellement', src: './assets/image/otherWebSite.png', flex: 12 },
        { title: 'Avec notre plateforme', src: './assets/image/smartjob.png', flex: 12 }
      ],
    }),
  }
</script>






