<template>
    <div id="app">
        <v-app style = "background-image: linear-gradient(to top, #F3E7E9 0%, #E3EEFF 99%, #E3EEFF 100%)">
            <v-content>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4>
                        <v-card class="elevation-12">
                            <v-toolbar color="primary" dark flat>
                                <v-toolbar-title>Connectez-vous</v-toolbar-title>
                                <v-spacer></v-spacer>
                            </v-toolbar>
                            <v-card-text>
                                <!-- formulaire -->
                                <v-form ref="form" v-model="valid" lazy-validation> 
                                    <v-text-field
                                    label="Email"
                                    type="email"
                                    v-model="username"
                                    :rules="emailRules"
                                    required
                                    prepend-icon="mdi-account"
                                    >
                                    </v-text-field>
                                    <v-text-field
                                    label="Mot de passe"
                                    :type="value ? 'password' : 'text'"
                                    v-model="password"
                                    :rules="passwordRules"
                                    prepend-icon="mdi-lock"
                                    required
                                    :append-icon="value ? 'mdi-eye' : 'mdi-eye-off'"
                                    @click:append="() => (value = !value)"
                                    >
                                    </v-text-field>
                                </v-form>
                                <a href="">Mot de passe oublié ?</a>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <!-- bouton submit -->
                                <v-btn 
                                color="info"
                                :disabled="!valid"
                                @click="validate"
                                >Valider
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout> 
            </v-content>
        </v-app>
    </div>
</template>

<script>

export default {
  data: () => ({
    username: "",
    password: "",
    valid: true,
    value: true, //value icone eye mot de passe
    emailRules: [
    v => /.+@.+\..+/.test(v) || "Renseignez un email valide" //v = validate. Si le champs est vide ou ne correspond pas à la regex -> affiche le message
    ],
    passwordRules: [
    v => !!v || 'Renseignez un mot de passe' //Si le champs est vide, affiche le message
    ],
  }),
    methods: {
        //si tout les champs sont remplis et valides -> connexion utilisateur
        validate() {
            if (this.$refs.form.validate()) {
                const { username, password } = this
                //effectue connexion
                this.$store.dispatch('validate', { username, password })
                .then(() => {
                    //redirection
                    this.$router.push('/').catch(err => console.log(err))
                })
                //this.snackbar = true;
            }
        },
    }
}
</script>