<template>
  <div>
    <!-- CREATION DE LA MODAL -->
    <v-dialog v-model="dialog" max-width="500">
      <template v-slot:activator="{ on }">
        <v-btn
          text
          rounded
          @click.stop="drawer = !drawer"
          @click.prevent="show,dialog = true"
        >Inscription</v-btn>
      </template>
      <v-card justify-center>
        <div class="form-group mb-4">
          <v-card-text class="text-center headline font-weight-bold">Veuillez Télécharger votre CV</v-card-text>
        </div>
        <!-- FORMULAIRE DU DEPOT DE CV -->
        <v-card-text class="text-center">
          <v-form
            lazy-validation
            @submit.prevent="onSubmit(), loaderButton = 'loadingButton'"
            enctype="multipart/form-data"
          >
            <div class="form-group mb-4">
              <v-file-input type="file" @change="onSelect" />
            </div>
            <!-- BOUTON VALIDER AVEC LOADING EFFET -->
            <div class="form-group mb-4">
              <div class="text-center">
                <v-btn
                  :loading="loadingButton"
                  :disabled="loadingButton"
                  color="primary"
                  type="submit"
                  class="btn btn-info"
                >Valider</v-btn>
              </div>
            </div>
          </v-form>
          <!-- BOUTON REDIRECTION PAGE FORMULAIRE D'INSCRIPTION ETAPE 1 -->
          <v-card-actions class="text-center">
            <v-btn
              small
              color="indigo"
              outlined 
              @click="loader"
            >Cliquez ici pour vous inscrire sans télécharger votre cv</v-btn>
          </v-card-actions>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "ModalRegistration",
  data() {
    return {
      //données
      file: "",
      //effets
      drawer: false,
      dialog: false,
      loaderButton: null,
      loadingButton: false,
      isloading: true,
      load: null,
      loading: false
    };
  },
  watch: {
    loaderButton() { //effet circle 
      const l = this.loaderButton;
      this[l] = !this[l];

      setTimeout(() => (this[l] = false), 2000);

      this.loaderButton = null;
    }
  },
  methods: {
    onSelect(file) { //recupère nom du cv
      if (file) {
        let files = file;
        this.file = file;
        console.log(files);
      }
    },
    async onSubmit() {
      const formData = new FormData(); //objet formData pour intégration du file
      formData.append("file", this.file);
      console.log(this.file);
      //envoie des données a node pour le traitement
      try {
        let res = await axios.post("http://localhost:5000/upload", formData);
        console.log(res);
        //stockage de la response dans le localStorage
        localStorage.setItem("res", JSON.stringify(res.data.resume.parts));
        //ferme la modal
        this.dialog = false;
        console.log(res.data.resume.parts);
      } catch (err) {
        console.log(err);
      }
      //redirection step1
      this.$router.push("/registration_step_1");
    },
    //afficher et/ou cacher la modal
    show() {
      this.$modal.show("ModalRegistration");
    },
    hide() {
      this.$modal.hide("ModalRegistration");
    },
    //au clic de redirection la modal s'enleve
    async loader() {
      if (await this.$router.push("/registration_step_1")) {
        this.dialog = false;
      }
    }
  }
};
</script>