<template>
  <div>
    <v-app style = "background-image: linear-gradient(to top, #F3E7E9 0%, #E3EEFF 99%, #E3EEFF 100%)">
      <v-container>
        <!-- stepper avec validation étapes -->
        <v-stepper class="mb-12" v-model="e1">
          <v-stepper-header>
            <v-stepper-step :complete="e1 > 1" step="1">Inscription</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step :complete="e1 > 2" step="2">Ma recherche d'emploi</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step :complete="e1 > 3" step="3">Mon parcours</v-stepper-step>
          </v-stepper-header>
        </v-stepper>
        <v-layout row>
          <v-flex xs12 sm6 offset-sm3>
            <v-card>
              <v-card-text>
                <h4 class="text-center">RECHERCHE D'EMPLOI</h4>
                <v-container>
                  <!-- formulaire -->
                  <v-form ref="form" @submit="validate" v-model="valid">
                    <v-layout row>
                      <v-flex xs12>
                        <v-col>
                        <v-autocomplete
                          label="Postes recherchés"
                          name="title_required"
                          v-model="title"
                          item-text="libelle"
                          :items="AllJobs"
                          multiple
                          chips
                          counter=3
                          :rules="jobMaxLength"
                          hint="Vous pouvez en sélectionner jusqu'à 3"
                          persistent-hint
                        ></v-autocomplete>
                        </v-col>
                      </v-flex>
                    </v-layout>
                    <v-layout row>
                      <v-flex xs12>
                        <v-col>
                        <v-autocomplete
                          label="Lieux souhaités"
                          name="location_required"
                          v-model="location"
                          item-text="nom"
                          :items="AllLocations"
                          multiple
                          chips
                          counter=5
                          :rules="locationMaxLength"
                          hint="Vous pouvez en sélectionner jusqu'à 5"
                          persistent-hint
                        ></v-autocomplete>
                        </v-col>
                      </v-flex>
                    </v-layout>
                    <v-layout row>
                      <v-flex xs12>
                        <v-col>
                          <v-select
                            label="Salaire annuel brut souhaité"
                            name="salary_required"
                            v-model="pay"
                            item-text="name"
                            :items="dataPay"
                            :rules="payRules"
                            required
                            hint="Vous ne pouvez en sélectionner qu'un seul"
                            persistent-hint
                          ></v-select>
                        </v-col>
                      </v-flex>
                    </v-layout>
                    <v-layout row>
                      <v-flex xs12>
                        <v-col>
                          <v-select
                            label="Types de contrats"
                            name="contract_required"
                            v-model="researchContracts"
                            item-text="name"
                            :items="dataContract"
                            multiple
                            chips
                            hint="Vous pouvez en sélectionner plusieurs"
                            persistent-hint
                          ></v-select>
                        </v-col>
                      </v-flex>
                    </v-layout>
                    <v-layout row>
                      <v-flex xs12>
                        <v-col>
                          <v-select
                            label="Type d'emploi"
                            v-model="researchPartTimes"
                            item-text="name"
                            :items="dataPartTime"
                            multiple
                            chips
                            hint="Vous pouvez en sélectionner plusieurs"
                            persistent-hint
                          ></v-select>
                        </v-col>
                      </v-flex>
                    </v-layout>
                    <v-layout row>
                      <v-flex xs12>
                        <v-col>
                          <v-select
                            label="Secteurs d'activité"
                            v-model="researchDomains"
                            item-text="name"
                            :items="dataDomain"
                            multiple
                            chips
                            hint="Vous pouvez en sélectionner plusieurs"
                            persistent-hint
                          ></v-select>
                        </v-col>
                      </v-flex>
                    </v-layout>
                    <v-layout row>
                      <v-flex xs12>
                        <!-- bouton valider -->
                        <v-btn
                          type="submit"
                          :disabled="!valid"
                          class="mr-4"
                          color="info"
                          @click.stop.prevent="validate()"
                        >Continuer</v-btn>
                        <!-- bouton passer -->
                        <v-btn 
                        class="ma-2" 
                        outlined color="indigo"
                        @click="redirect()"
                        >Passer cette étape</v-btn>
                      </v-flex>
                    </v-layout>
                  </v-form>
                </v-container>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-app>
  </div>
</template>
<script>
import axios from "axios";
import metiers from "../donnees/metiers.js";
import localisations from "../donnees/localisations.js";
export default {
  data: () => ({
    //donnees
    title: "",
    location: "",
    pay: "",
    researchContracts: "",
    researchPartTimes: "",
    researchDomains: "",
    //rules
    jobMaxLength: [v => v.length <= 3 || "Vous ne pouvez renseigner que 3 villes"],
    locationMaxLength: [v => v.length <= 5 || "Vous ne pouvez renseigner que 3 villes"],
    payRules: [v => !!v || "Renseignez une tranche salariale"],
    //utiles
    contract: [],
    salary:[],
    type: [],
    dataPay: [],
    dataDomain: [],
    dataContract: [],
    dataPartTime: [],
    AllJobs:[],
    AllLocations : [],
    //effets
    valid: true,
    e1: 2,
    token : "",
    
  }),
  beforeMount(){
    //récupère token 
    this.token = localStorage.getItem('token');
    //console.log(this.token);
  },
  mounted(){
    //objet liste métiers
    this.AllJobs = metiers.data().allMetiers;
    //objet liste localisations
    this.AllLocations = localisations.data().allLocalisations;
      
    //requete bdd get tous les salaires
    axios.get('http://localhost:8000/api/pay', 
      {headers: {'Authorization': "bearer " + this.token }})
      .then(response => {
        //console.log("response", response.data);
        for(let i =0; i<(response.data).length; i++){
          //pousse les résultats dans le tableau dataPay
          (this.dataPay).push(response.data[i])
        }
      })
      .catch(err => {console.log(err)});
    //requete bdd get tous les domaines
    axios.get('http://localhost:8000/api/domain', 
      {headers: {'Authorization': "bearer " + this.token }})
      .then(response => {
        //console.log("response", response.data);
        for(let i =0; i<(response.data).length; i++){
          //pousse les résultats dans le tableau dataDomain
          (this.dataDomain).push(response.data[i])
        }
        //console.log("dataDomain", this.dataDomain);
      })
      .catch(err => {console.log(err)});
    
    //requete bdd get tous les contrats
    axios.get('http://localhost:8000/api/contract', 
      {headers: {'Authorization': "bearer " + this.token }})
      .then(response => {
        //console.log("response", response.data);
        for(let i =0; i<(response.data).length; i++){
          //pousse les résultats dans le tableau dataContract
          (this.dataContract).push(response.data[i])
        }
        //console.log("dataContract", this.dataContract);
      })
      .catch(err => {console.log(err)});
    
    //requete bdd get tous les types d'emploi
    axios.get('http://localhost:8000/api/partTime', 
      {headers: {'Authorization': "bearer " + this.token }})
      .then(response => {
        //console.log("response", response.data);
        for(let i =0; i<(response.data).length; i++){
          //pousse les résultats dans le tableau dataPartTime
          (this.dataPartTime).push(response.data[i])
        }
        //console.log("dataPartTime", this.dataPartTime);
      })
      .catch(err => {console.log(err)})
      
  },
  methods: {
    async validate() {
      //si le formulaire est valide
      if (this.$refs.form.validate()) {
        //recupère l'id du salaire choisi
        let indexPay="";
        for(let a=0; a<(this.dataPay).length; a++){
          if(this.dataPay[a].name == this.pay){
            indexPay=this.dataPay[a].id
          }
        }
        
        //recupère les id des contrats choisis
        let tabIndexContract=[];
        for(let b=0; b<(this.researchContracts).length; b++){
          for(let c=0; c<(this.dataContract).length; c++){
            if(this.dataContract[c].name === this.researchContracts[b]){
              tabIndexContract.push(this.dataContract[c].id);
              //console.log(tabIndexContract);
            }
          } 
        }
        //recupère les id des types d'emplois choisis
        let tabIndexPartTime=[];
        for(let d=0; d<(this.researchPartTimes).length; d++){
          for(let e=0; e<(this.dataPartTime).length; e++){
            if(this.dataPartTime[e].name === this.researchPartTimes[d]){
              tabIndexPartTime.push(this.dataPartTime[e].id);
              //console.log(tabIndexPartTime);
            }
          } 
        }
        //recupère les id des domaines choisis
        let tabIndexDomain=[];
        for(let f=0; f<(this.researchDomains).length; f++){
          for(let g=0; g<(this.dataDomain).length; g++){
            if(this.dataDomain[g].name === this.researchDomains[f]){
              tabIndexDomain.push(this.dataDomain[g].id);
              //console.log(tabIndexDomain);
            }
          } 
        }
        //hydrate l'objet data pour post research bdd 
        const data = {
          title: this.title,
          location: this.location,
          pay: indexPay,
          researchContracts: tabIndexContract,
          researchPartTimes: tabIndexPartTime,
          researchDomains: tabIndexDomain
        };
        let token = this.$store.state.token;
        //console.log(token);
        console.log(data);
        try {
          //post research
          await axios.post("http://localhost:8000/api/research", data,
          {headers: {'Authorization': "bearer " + token }})
            .then(
              console.log("form submitted"),
              //envoi les codes métiers et localisations dans le local storage
              this.StorageTest(data.title, data.location)
            )
        } catch (err) {
          console.log(err);
        }
        //redirection step3
        this.$router.push("/registration_step_3");
        //affiche snackbar
        this.snackbar = true;
      }
    },
    StorageTest(metiers, locations){
      //récupère les codes métiers et envoi local storage
      if(metiers){
        let TabCodesMetiers = [];
        for(let i=0; i<(this.AllJobs).length; i++){
          for(let j=0; j<metiers.length; j++){
            if(metiers[j]=== this.AllJobs[i].libelle){
              TabCodesMetiers.push(this.AllJobs[i].code);
            }
          }
        }
        localStorage.removeItem('TabCodesMetiers', TabCodesMetiers)
        localStorage.setItem('TabCodesMetiers', TabCodesMetiers)
        //console.log(TabCodesMetiers);
      }
      //récupère les codes localisations et envoi local storage
      if(locations){
        let TabCodesLocations = [];
        for(let k=0; k<(this.AllLocations).length; k++){
          for(let l=0; l<locations.length; l++){
            if(locations[l]=== this.AllLocations[k].nom){
              TabCodesLocations.push(this.AllLocations[k].code);
            }
          }
        }
        localStorage.removeItem('TabCodesLocations', TabCodesLocations)
        localStorage.setItem('TabCodesLocations', TabCodesLocations)
        //console.log(TabCodesLocations);
      }
    },
    //bouton passer
    redirect(){
      this.$router.push("/registration_step_3");
    }
  }
}
</script>