<template>
  <div>
    <v-app style = "background-image: linear-gradient(to top, #F3E7E9 0%, #E3EEFF 99%, #E3EEFF 100%)">
      <v-container>
        <!-- stepper avec validation étapes -->
        <v-stepper class="mb-12" v-model="e1">
          <v-stepper-header>
            <v-stepper-step :complete="e1 > 1" step="1">Inscription</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step :complete="e1 > 2" step="2">Ma recherche d'emploi</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step :complete="e1 > 3" step="3">Mon parcours</v-stepper-step>
          </v-stepper-header>
        </v-stepper>
        <v-layout row>
          <v-flex xs12 sm6 offset-sm3>
            <v-card>
              <v-card-text>
                <h4 class="text-center">RECHERCHE D'EMPLOI</h4>
                <v-container>
                  <!-- formulaire -->
                  <v-form ref="form" @submit="validate" v-model="valid" lazy-validation>
                    <v-layout row>
                      <v-flex xs12>
                        <v-col>
                          <v-select
                            label="Expérience professionnelle"
                            v-model="experienceYears"
                            :items="experience"
                            chips
                            persistent-hint
                          ></v-select>
                        </v-col>
                      </v-flex>
                    </v-layout>
                    <v-layout row>
                      <v-flex xs12>
                        <v-col>
                          <v-select
                            label="Formation"
                            v-model="diplomaLevel"
                            :items="level"
                            chips
                            persistent-hint
                          ></v-select>
                        </v-col>
                      </v-flex>
                    </v-layout>
                    <v-layout row>
                      <v-flex xs12>
                        <!-- bouton submit -->
                        <v-btn
                          :disabled="!valid"
                          type="submit"
                          color="info"
                          class="mr-4"
                          @click.stop.prevent="validate()"
                        >Valider</v-btn>
                      </v-flex>
                      <!-- snackbar succes -->
                      <v-snackbar
                        v-model="confirmed"
                        :timeout="2000"
                        color="success"
                      >Votre inscription a bien été enregistrée !</v-snackbar>
                    </v-layout>
                  </v-form>
                </v-container>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-app>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      //effets
      e1: 3,
      valid: true,
      confirmed: false,
      experienceYears: false,
      diplomaLevel: false,
      //donnees
      experience: [
        "Non renseignée",
        "Débutant à 1 an",
        "1-2 ans",
        "3-5 ans",
        "6-10 ans",
        "11-20 ans",
        "21 ans et plus"
      ],
      level: [
        "Non renseigné",
        "Aucun diplôme",
        "BEPC - Brevet des collèges",
        "BEP",
        "CAP / CFPA",
        "CQP - Certificat de Qualification Professionnelle",
        "Brevet Professionnel BP, Brevet de Technicien BT",
        "Bac Professionnel, Bac Technologique",
        "Bac Général",
        "Bac +1",
        "Bac +2",
        "Bac +2 type DEUG, DUES",
        "Bac +2 type BTS, DUT, DTS",
        "Bac +2, diplôme des metiers d'art DMA",
        "Bac +3",
        "Licence générale, Licence professionnelle",
        "Bac +4",
        "Bac +5",
        "Bac +5, type DEA - DESS",
        "Bac +5, Master Magistère, MIAGE",
        "Diplôme de grande école de commerce",
        "Master spécialisé",
        "Doctorat",
        "Bac +7 et plus"
      ]
    };
  },

  methods: {
    async validate() {
      //si le formulaire est valide
      if (this.$refs.form.validate()) {
        //hydrate objet data pour put bdd
        const data = {
          experienceYears: this.experienceYears,
          diplomaLevel: this.diplomaLevel
        };
        let token = this.$store.state.token;
        //console.log(data);
        try {
          //put user bdd
          axios({
          method: "PUT",
          url: "http://localhost:8000/api/user", data,
          headers: {'Authorization': "bearer " + token }}); 
          console.log("form submitted");
          if (token) {
            //affiche snackbar + redirection profil
            (this.confirmed = true),
              setTimeout(() => {
                this.$router.push("/api/user/profil");
              }, 1000);
          }
        } catch (err) {
          console.log(err);
        }
        //affiche snackbar
        this.snackbar = true;
      }
    }
  }
};
</script>