<template>
  <div>
    <v-app style = "background-image: linear-gradient(to top, #F3E7E9 0%, #E3EEFF 99%, #E3EEFF 100%)">
      <v-container>
        <!-- stepper avec validation étapes -->
        <v-stepper class="mb-12" v-model="e1">
          <v-stepper-header>
            <v-stepper-step :complete="e1 > 1" step="1">Inscription</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step :complete="e1 > 2" step="2">Ma recherche d'emploi</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step :complete="e1 > 3" step="3">Mon parcours</v-stepper-step>
          </v-stepper-header>
        </v-stepper>
        <v-layout row>
          <v-flex xs12 sm6 offset-sm3>
            <v-card>
              <v-card-text>
                <h4 class="text-center">Formulaire d'inscription</h4>
                <v-container>
                  <!-- formulaire -->
                  <v-form ref="form" @submit="validate" v-model="valid" lazy-validation>
                    <v-layout row>
                      <v-flex xs12>
                        <v-text-field
                          label="Nom*"
                          :rules="lastnameRules"
                          v-model="lastname"
                          required
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                    <v-layout row>
                      <v-flex xs12>
                        <v-text-field
                          label="Prénom*"
                          :rules="firstnameRules"
                          v-model="firstname"
                          required
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                    <v-layout row>
                      <v-flex xs12>
                        <v-text-field
                          type="email"
                          label="Email*"
                          :rules="emailRules"
                          v-model="email"
                          required
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                    <v-layout row>
                      <v-flex xs12>
                        <v-text-field
                          label="Mot de passe*"
                          v-model="password"
                          required
                          :append-icon="value ? 'mdi-eye' : 'mdi-eye-off'"
                          @click:append="() => (value = !value)"
                          :type="value ? 'password' : 'text'"
                          :rules="[passwordRules.password]"
                          @input="_=>userPassword=_"
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                    <!-- bouton submit -->
                    <v-layout row>
                      <v-flex xs12>
                        <v-btn
                          :disabled="!valid"
                          color="primary"
                          class="mr-4"
                          @click="validate(); overlay = !overlay" 
                        >Continuer</v-btn>
                        <!-- circle overlay -->
                        <v-overlay :value="overlay">
                          <v-progress-circular indeterminate size="64"></v-progress-circular>
                        </v-overlay>
                      </v-flex>
                      <!-- snackbar email déjà utilisé -->
                      <v-snackbar
                        v-model="snack"
                        :timeout="2000"
                        color="error"
                      >{{message}}</v-snackbar>
                    </v-layout>
                  </v-form>
                </v-container>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-app>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data: () => ({
    //données
    firstname: "",
    lastname: "",
    email: "",
    password: "",
    userPassword: "",
    address: "",
    //rules
    firstnameRules: [v => !!v || "Renseignez votre prénom"],
    lastnameRules: [v => !!v || "Renseignez votre nom"],
    emailRules: [
      v => !!v || "Renseignez votre email",
      v => /.+@.+\..+/.test(v) || "Renseignez un email valide"
    ],
    passwordRules: {
      required: value => !!value || "Renseignez votre mot de passe",
        password: value => {
          const pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])(?=.{8,})/;
          return (
            pattern.test(value) || "Votre mot de passe doit contenir au moins 8 caractères, 1 majuscule, 1 chiffre et 1 caractère spécial"
          );
        }
    },
    //effets
    valid: true,
    value: true,
    snack: false,
    overlay: false,
    message:"",
    e1: 1,
  }),
  
  mounted(){
    //récupère mail parsé
    this.email = JSON.parse(localStorage.getItem('res'))['email'];
    //console.log(this.email);
 },
  
  watch: { //circle effet
      overlay (val) {
        val && setTimeout(() => {
          this.overlay = false
        }, 2000)
      },
    },

  methods: {
    async validate() {
      if (this.$refs.form.validate()) {
        const data = {
          lastname: this.lastname,
          firstname: this.firstname,
          email: this.email,
          password: this.password
        };
        //console.log(data);
        
        try {
          //inscription
          await axios.post('http://localhost:8000/register', data).then(response => {
          this.message = response.data.response;
          //console.log("response", response.data);
          if(this.message === 201){
            const { username = this.email, password } = this;
            //log auto
            this.$store.dispatch('validate', { username, password });
            //redirection
            setTimeout(() => {
                this.$router.push("/registration_step_2");
              }, 2000);
            
          }else if(this.message === 'l\'email ' + this.email + ' existe déjà'){
            //console.log(this.message);
            
            //affiche snackbar mail déjà utilisé
            this.snack=true;
          }
          }).catch(err => {console.log(err)});
        }catch(err){
          console.log(err);
        }
      }

      }
    }
}
</script>