<template>
    <div>
        <!-- bandeau -->
        <v-container >
            <v-row >
                <v-col cols="12">
                    <v-card color="indigo accent-4" dark>
                        <v-card-title class="headline">{{tabLenght}} offres correspondent à votre profil</v-card-title>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
        <v-container>
            <!-- pagination -->
            <div class="text-center">
                <v-pagination v-model="page" :length="5" circle></v-pagination>
            </div>
            <br>
            <!-- cards offres -->
            <v-card shaped class="mx-auto elevation-12 mb-8 px-7 pb-2" v-for="(item, i) in tabOffers" :key="`title-${i}`"  > 
                <v-card-title class="pb-5" v-if="tabOffers[i].title">{{ tabOffers[i].title }} </v-card-title>
                <v-card-subtitle v-if="tabOffers[i].lieu">{{ tabOffers[i].lieu }} </v-card-subtitle>
                <v-card-text>
                    <div v-if="tabOffers[i].entreprise">
                        <b>Entreprise :</b> {{ tabOffers[i].entreprise }}
                    </div>
                    <div v-if="tabOffers[i].domaine">
                        <b>Domaine : </b>{{ tabOffers[i].domaine }} <br>
                    </div>
                    <div v-if="tabOffers[i].typeContrat">
                        <b>Type de contrat :</b> {{ tabOffers[i].typeContrat }} <br><br>
                    </div>
                    <p class="text--primary"><b>Description :</b> {{ tabOffers[i].description }} </p>
                    <div class="text--primary" v-if="tabOffers[i].missions" >
                        <div class="text--primary" v-if="tabOffers[i].missions[0]" >
                            <b>Missions :</b>
                            <p v-for="(val, j) in tabOffers[i].missions" :key="`mission-${j}`">{{ val }}
                            </p> 
                        </div>
                    </div>
                    <div class="text--primary" v-if="tabOffers[i].qualites" >
                        <div class="text--primary" v-if="tabOffers[i].qualites[0]" >
                            <b>Qualites :</b>
                            <p v-for="(val, j) in tabOffers[i].qualites" :key="`qualite-${j}`">{{ val }}
                            </p> 
                        </div>
                    </div>
                </v-card-text>
                <v-card-actions>
                    <v-btn
                        text
                        color="blue lighten-1"
                    >
                        <b>Postuler</b>
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn icon>
                        <v-icon color="blue lighten-1">mdi-heart</v-icon>
                    </v-btn>
                    <v-btn icon>
                        <v-icon color="blue lighten-1">mdi-share-variant</v-icon>
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-container>
    </div>
</template>

<script>
import axios from 'axios';

export default {
  data: () => ({
    model: null,
    tabOffers: [],
    tabLenght:0,
    tokenApi:"",
    resultSearch:[],
    page: 1,
  }),
    
    beforeMount() {
        axios.get("http://localhost:8000/access_token")
                   .then(response => {
                       this.tokenApi = response.data.access_token;
                       //console.log(response.data.response);
                        //console.log(this.tokenApi);
                        let codesMetiers = localStorage.getItem('TabCodesMetiers');
                        //console.log(codesMetiers);
                        let codesLocations = localStorage.getItem('TabCodesLocations')
                        //console.log(codesLocations);
                        let url = "https://api.emploi-store.fr/partenaire/offresdemploi/v2/offres/search?codeROME="+codesMetiers+"&commune="+codesLocations+"&range=0-99";
                        console.log(url);
                         try {
                             axios.get(url,
                                     {headers: {'Authorization': "Bearer " + this.tokenApi}})
                                     .then(response => this.formate(this.resultSearch = response.data.resultats));
                                     
                             } catch (err) {
                             console.log(err);
                             }
                     }).catch(err => {console.log(err)})
    },
    
    methods : {
        formate(test){
            //console.log(test);
            this.tabLenght = (test).length;
        
            for(let i=0; i<test.length; i++){
                this.tabOffers[i] = {
                title: "",
                entreprise: "",
                lieu: "",
                domaine: "",
                description: "",
                typeContrat:"",
                };

                if(test[i].appellationlibelle){
                    this.tabOffers[i]['title'] = test[i].appellationlibelle
                }
                if(test[i].entreprise){
                    if(test[i].entreprise.nom){
                        this.tabOffers[i]['entreprise'] = test[i].entreprise.nom
                    }
                }
                if(test[i].lieuTravail){
                    if(test[i].lieuTravail.libelle){
                        this.tabOffers[i]['lieu'] = test[i].lieuTravail.libelle
                    }
                }
                if(test[i].secteurActiviteLibelle){
                    this.tabOffers[i]['domaine'] = test[i].secteurActiviteLibelle
                }
                if(test[i].description){
                    this.tabOffers[i]['description'] = test[i].description
                }
                if(test[i].typeContratLibelle){
                    this.tabOffers[i]['typeContrat'] = test[i].typeContratLibelle
                }

                if(test[i].competences){
                    let tabCompetences = [];
                    for(let j=0; j<(test[i].competences).length; j++){
                        if(test[i].competences[j]){
                            tabCompetences.push(test[i].competences[j].libelle);
                        }
                    }
                    this.tabOffers[i]["missions"] = tabCompetences
                }

                if(test[i].qualitesProfessionnelles){
                    let tabQualites = [];
                    for(let j=0; j<(test[i].qualitesProfessionnelles).length; j++){
                        if(test[i].qualitesProfessionnelles[j]){
                        tabQualites.push(test[i].qualitesProfessionnelles[j].libelle);
                        }
                    }
                    this.tabOffers[i]["qualites"] = tabQualites
                }
            }
            console.log(this.tabOffers);
        }
    }
}

</script>