<template>
  <v-app style = "background-image: linear-gradient(to top, #F3E7E9 0%, #E3EEFF 99%, #E3EEFF 100%)">
    <div>
      <!-- navbar -->
      <navbar></navbar>
      <!-- snackbar token expiré -->
      <v-snackbar
        v-model="expiredToken"
        :timeout="2000"
        color="error"
        top
      >! Votre session a expiré. Redirection vers la page login en cours...</v-snackbar>
      <!-- snackbar indentifiants incorrects -->
      <v-snackbar
        v-model="badCredentials"
        :timeout="2000"
        color="orange darken-2"
        top
      >! Identifiants invalides !</v-snackbar>
      <!-- router -->
      <div id="mybody" padding="200" position="relative">
        <router-view></router-view>
      </div>
      <!-- footer -->
      <Footer></Footer>
    </div>
  </v-app>
</template>

<script>

import Navbar from "./components/layout/Navbar.vue";
import Footer from "./components/layout/Footer.vue";
import axios from 'axios';

export default {

  name: "app",

  data () {
    return {
        //effets
        expiredToken: false,
        badCredentials:false
    }
  },

  components: {
    Navbar,
    Footer
  },

  created : function () {
    //intercepte la réponse
    this.responseInterceptor = axios.interceptors.response.use((response) => response, (error) => {
    let value = error.response;
    //console.log(value);

      //Si token expiré
      if (value.status === 401  && value.data.message !== "Bad credentials.") {
        //console.log("token expiré, redirection en cours");
        this.expiredToken = true;
        
        setTimeout(() => {
              this.logout();
              }, 2500);  
      }
      //si mauvais identifiants
      if (value.status === 401 && value.data.message === "Bad credentials.") {
      //console.log("mauvais identifiants");
      this.badCredentials = true;

      }
    })
  },
  
  methods: {
    logout() {
      //deconnexion et redirecion login
      this.$store.dispatch("logout").then(() => {
        this.$router.push("/login");
      });
    },
  }
}

</script>