<template>
  <div id="info_competence">
    <v-card class="pa-3 mx-auto elevation-24">
      <v-toolbar flat color="dark">
        <v-icon>mdi-star</v-icon>
        <v-toolbar-title class="font-weight-light">Compétences</v-toolbar-title>
        <v-spacer></v-spacer>
        <!-- BOUTON MODIF -->
        <v-btn color="info darken-3" fab x-small @click="isEditing = !isEditing">
          <v-icon v-if="isEditing">mdi-close</v-icon>
          <v-icon v-else>mdi-pencil</v-icon>
        </v-btn>
      </v-toolbar>
      <!-- ZONE FORM -->
      <v-form ref="form" @submit="validate">
        <v-card-text>
          <v-text-field
            label="Nom"
            v-model="skillUser.Name"
            :disabled="!isEditing"
            color="light-blue darken-4"
          ></v-text-field>
          <span v-for="item in skillUser" :key="item.id">
            <v-chip
              @click:close="suppr(item.id)"
              class="ma-2"
              color="blue lighten-3"
              close
            >{{ item.name }}</v-chip>
          </span>
          <v-card-actions>
            <v-spacer></v-spacer>
            <!-- BOUTON VALIDATION -->
            <v-tooltip left>
              <template v-slot:activator="{ on }">
                <v-btn
                  v-on="on"
                  @click="validate"
                  :disabled="!isEditing"
                  color="green lighten-2"
                  fab
                  medium
                >
                  <v-icon>mdi-check</v-icon>
                </v-btn>
              </template>
              <span>Enregistrer mes compétences</span>
            </v-tooltip>
          </v-card-actions>
        </v-card-text>
        <!-- SNACKBAR PROFIL MIS A JOUR -->
        <v-snackbar
          v-model="hasSaved"
          :timeout="2000"
          absolute
          bottom
          center
        >Votre profil a été mis à jour !</v-snackbar>
      </v-form>
    </v-card>
  </div>
</template>

<script>
import axios from "axios";

export default {

  data() {
    return {
      //donnees
      skillUser: {},
      dataLanguages: [],
      //effets
      hasSaved: false,
      isEditing: null,
      model: null,
    };
  },

  beforeMount() {
    //maj donnees
    this.getNewData();
  },

  mounted() {
    //récupère token
    let token = this.$store.state.token;
    //requete bdd get skill du user
    axios.get("http://localhost:8000/api/skill", 
      {headers: { Authorization: "bearer " + token }})
      .then(response => {
        //console.log("response", response.data);
        //hydrate objet skillUser
        this.skillUser = {
          Name: response.data.Name
        };
        return (this.skillUser = response.data);
      })
      .catch(err => {
        console.log(err);
      });
   
    //recupere les skills parsés afin de les envoyer à la bdd pour ensuite les afficher sur la page
    const dataParser = JSON.parse(localStorage.getItem("res"))["skills"];
    const parseLanguages = dataParser.split(" ");
    for (var i = 0; i < parseLanguages.length; i++) {
      //supprime les characteres spéciaux si il y en a
      if (parseLanguages[i] === "->") {
        parseLanguages.splice(i, 1);
      }
      //rempli sous format json données puis stock dans parseLanguages
      this.dataLanguages.push({ name: parseLanguages[i] });
    }
    //console.log(this.dataLanguages);
    axios.post("http://localhost:8000/api/skill", this.dataLanguages, 
      {headers: { Authorization: "bearer " + token }});
      localStorage.removeItem("res");
  },

  methods: {

    validate() {
      //si le formulaire est valide
      if (this.$refs.form.validate()) {
        //récupère le token
        let token = this.$store.state.token;
        //hydrate objet data
        const data = [
          {
            name: this.skillUser.Name
          }
        ];
        //console.log(data);
        try {
          //post skill du user
          axios.post("http://localhost:8000/api/skill", data, {headers: { Authorization: "bearer " + token }})
            .then(response => 
            console.log(response.data), 
            this.getNewData());
        } catch (err) {
          console.log(err);
        }
        //effets
        this.isEditing = !this.isEditing;
        this.hasSaved = true;
      }
    },

    suppr(param) {
      //récupère token
      let token = this.$store.state.token;
      try {
        //supprime skill par id
        axios.delete("http://localhost:8000/api/skill/" + param, 
          { headers: { Authorization: "bearer " + token }})
          .then(response => console.log(response.data), this.getNewData());
      } catch (err) {
        console.log(err);
      }
    },

    getNewData() {
      let token = this.$store.state.token;
      //maj donnees
      axios.get("http://localhost:8000/api/skill", 
        { headers: { Authorization: "bearer " + token }})
        .then(response => {
          console.log("response", response.data);
          //hydrate objet skillUser
          this.skillUser = {
            Name: response.data.Name
          };
          return (this.skillUser = response.data);
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>