<template>
  <div id="info_hobbie">
    <v-card class="pa-3 mx-auto elevation-24">
      <v-toolbar flat color="dark">
        <v-icon>mdi-tennis</v-icon>
        <v-toolbar-title class="font-weight-light">Centres d'intérêts</v-toolbar-title>
        <v-spacer></v-spacer>
        <!-- BOUTON POUR MODIFIER -->
        <v-btn color="info darken-3" fab x-small @click="isEditing = !isEditing">
          <v-icon v-if="isEditing">mdi-close</v-icon>
          <v-icon v-else>mdi-pencil</v-icon>
        </v-btn>
      </v-toolbar>
      <!-- ZONE FORM -->
      <v-form ref="form" @submit="validate">
        <v-card-text>
          <v-text-field
            label="Nom"
            v-model="hobbieUser.Name"
            :disabled="!isEditing"
            color="light-blue darken-4"
          ></v-text-field>
          <span v-for="item in hobbieUser" :key="item.id">
            <v-chip
              @click:close="suppr(item.id)"
              class="ma-2"
              color="blue lighten-3"
              close
            >{{ item.name }}</v-chip>
          </span>
          <v-card-actions>
            <v-spacer></v-spacer>
            <!-- BOUTON VALIDATION HOBBIE -->
            <v-tooltip left>
              <template v-slot:activator="{ on }">
                <v-btn
                  v-on="on"
                  @click="validate"
                  :disabled="!isEditing"
                  color="green lighten-2"
                  fab
                  medium
                >
                  <v-icon>mdi-check</v-icon>
                </v-btn>
              </template>
              <span>Enregistrer mes hobbies</span>
            </v-tooltip>
          </v-card-actions>
        </v-card-text>
        <!-- SNACKBAR PROFIL OK -->
        <v-snackbar
          v-model="hasSaved"
          :timeout="2000"
          absolute
          bottom
          center
        >Votre profil a été mis à jour !</v-snackbar>
      </v-form>
    </v-card>
  </div>
</template>

<script>

import axios from "axios";

export default {

  data() {
    return {
      //donnees
      hobbieUser: {},
      //effets
      hasSaved: false,
      isEditing: null,
      model: null
    };
  },

  mounted() {
    //récupère le token
    let token = this.$store.state.token;

    //requete bdd get hobbie du user
    axios.get("http://localhost:8000/api/hobbie", {headers: { Authorization: "bearer " + token }})
      .then(response => {
        //console.log("response", response.data);
        //hydrate objet hobbieUser
        this.hobbieUser = {
          Name: response.data.Name
        };
        return (this.hobbieUser = response.data);
      })
      .catch(err => {
        console.log(err);
      });
  },

  methods: {
    validate() {
      //si formulaire valide
      if (this.$refs.form.validate()) {
        //récupère le token
        let token = this.$store.state.token;
        //hydrate objet data pour post
        const data = [
          {
            name: this.hobbieUser.Name
          }
        ];
        //console.log(data);
        try {
          axios.post("http://localhost:8000/api/hobbie", data, 
            {headers: { Authorization: "bearer " + token }})
            .then(response => console.log(response.data), this.getNewData());
        } catch (err) {
          console.log(err);
        }
        //effets
        this.isEditing = !this.isEditing;
        this.hasSaved = true;
      }
    },
    //requete supprimer hobbie par id
    suppr(param) {
      //récupère token
      let token = this.$store.state.token;

      try {
        axios.delete("http://localhost:8000/api/hobbie/" + param, 
          {headers: { Authorization: "bearer " + token }})
          .then(response => 
            console.log(response.data), 
            this.getNewData());
      } catch (err) {
        console.log(err);
      }
    },

    getNewData() {
      //maj donnees
      let token = this.$store.state.token;
      //requete bdd get hobbie du user
      axios.get("http://localhost:8000/api/hobbie", 
        {headers: { Authorization: "bearer " + token }})
        .then(response => {
          //console.log("response", response.data);
          //hydrate objet hobbieUser
          this.hobbieUser = {
            Name: response.data.Name
          };
          return (this.hobbieUser = response.data);
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>