<template>
  <div class="position-fixed">
    <v-card max-width="300" min-width="150" class="mx-auto elevation-24">
      <v-card-text class="text--primary">
        <v-card-title>MON PROFIL</v-card-title>
        <v-img :src="`http://localhost:8000/uploads/avatars/${this.tofUser.avatar}`" height="220px" width="250px"></v-img>
      </v-card-text>
      <v-list nav dense>
        <v-list-item-group v-model="item" color="primary">
          <v-list-item v-for="(item, i) in items" :key="i">
            <v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>
            <!-- ancres menu -->
            <v-list-item-content>
              <v-list-item-title v-text="item.text" @click="$vuetify.goTo(item.link)"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-card>
  </div>
</template>

<script>
import axios from "axios";
//import bus pour échange données composants
import { bus } from "../../main";

export default {
  data: () => ({
    item: 0,

    //menu
    items: [
      { text: "Infos personnelles", icon: "mdi-account", link: "#info_perso" },
      { text: "Ma recherche d'emploi", icon: "mdi-watch", link: "#info_research"},
      { text: "Mes expériences", icon: "mdi-wrench", link: "#info_experience" },
      { text: "Mes formations", icon: "mdi-domain", link: "#info_formation" },
      { text: "Mes compétences", icon: "mdi-star", link: "#info_competence" },
      { text: "Mes centres d'intérêts", icon: "mdi-tennis", link: "#info_hobbie"}
    ],
    //avatar
    tofUser: {}

  }),
  created() {
    //écoute l'évenement du bus venant de cardPersonnalInfo
    bus.$on("changeIt", data => {
      //si évènement
      if (data === "modifAvatar") {
        //récupère token
        let token = this.$store.state.token;

        //requete bdd get nom avatar
        axios.get("http://localhost:8000/api/user", 
          {headers: { Authorization: "bearer " + token }})
          .then(response => {
            //console.log("response", response.data);
            //hydrate objet tofUser
            this.tofUser = {
              avatar: response.data.avatar
            };
            return (this.dataUser = response.data);
          })
          .catch(err => {
            console.log(err);
          });
      }
    });
  },

  beforeCreate() {
    //récupère token
    let token = this.$store.state.token;
    //requete get nom avatar bdd
    axios.get("http://localhost:8000/api/user", 
      {headers: { Authorization: "bearer " + token }})
      .then(response => {
        //console.log("response", response.data);
        //hydrate objet tofUser
        this.tofUser = {
          avatar: response.data.avatar
        };
        return (this.dataUser = response.data);
      })
      .catch(err => {
        console.log(err);
      });
  },

  computed: {
    //vérifie l'authentification
    isLoggedIn() {
      return this.$store.getters.isAuthenticated;
    }
  },
 
};
</script>