<template>
  <div id="info_experience">
    <v-card class="pa-3 mx-auto elevation-24">
      <v-toolbar class="mb-6" flat color="dark">
        <v-icon>mdi-wrench</v-icon>
        <v-toolbar-title class="font-weight-light">Expériences</v-toolbar-title>
        <v-spacer></v-spacer>
        <!-- BOUTON MODIF RECUPERATION MODAL EXPERIENCE -->
        <modal-experience @emitEvent="getNewData" />
      </v-toolbar>
      <!-- ZONE TITRE EXPERIENCE -->
      <v-tabs v-model="tab" background-color="transparent" color="basil" grow>
        <v-tab v-for="item in items" :key="item.id">{{ item.title }}</v-tab>
      </v-tabs>
      <!-- ZONE INFO EXPERIENCE -->
      <v-tabs-items v-model="tab">
        <v-tab-item v-for="item in items" :key="item.id">
          <v-card flat color="basil">
            <v-btn text small color="info darken-3" fab @click="isEditing = !isEditing">
              <v-icon v-if="isEditing">mdi-close</v-icon>
              <v-icon v-else>mdi-pencil</v-icon>
            </v-btn>
            <v-form ref="form" @submit="validate">
              <v-card-text>
                <v-row>
                  <v-col cols="12" md="12">
                    <v-text-field label="Nom de l'expérience" v-model="item.title" :disabled="!isEditing" ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="5">
                    <v-text-field label="Entreprise" v-model="item.company" :disabled="!isEditing" ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="6">
                    <v-text-field label="Lieu" v-model=" item.location" :disabled="!isEditing" ></v-text-field>
                  </v-col>
                  <!-- ZONE DATE PICKER ENTREE -->
                  <v-row>
                    <v-col cols="12" sm="6">
                      <div class="form-group">
                        <!-- Date input -->
                        <label class="control-label" for="date">Date d'entrée :</label>
                        <input
                          id="date"
                          class="form-control"
                          name="date"
                          type="text"
                          placeholder="jour/mois/année"
                          v-model="item.startDate"
                          :disabled="!isEditing"
                        />
                      </div>
                    </v-col>
                    <!-- ZONE DATE PICKER SORTIE -->
                    <v-col cols="12" sm="6">
                      <div class="form-group">
                        <!-- Date input -->
                        <label class="control-label" for="date">Date de sortie :</label>
                        <input
                          class="form-control"
                          type="text"
                          placeholder="jour/mois/année"
                          v-model="item.endDate"
                          :disabled="!isEditing"
                        />
                      </div>
                    </v-col>
                  </v-row>
                  <v-col cols="14" md="12">
                    <v-textarea
                      label="Description"
                      v-model="item.description"
                      :disabled="!isEditing"
                      outlined
                    ></v-textarea>
                  </v-col>
                  <v-col cols="12" md="4"></v-col>
                </v-row>
                <v-card-actions>
                  <!-- BOUTON POUR SUPPRIMER EXPERIENCE -->
                  <v-tooltip right>
                    <template v-slot:activator="{ on }">
                      <v-btn
                        v-on="on"
                        @click="remove(item.id)"
                        :disabled="!isEditing"
                        color="red lighten-1"
                        fab
                        medium
                      >
                        <v-icon>mdi-delete</v-icon>
                      </v-btn>
                    </template>
                    <span>Supprimer cette expérience</span>
                  </v-tooltip>
                  <v-spacer></v-spacer>
                  <!-- BOUTON POUR VALIDER EXPERIENCE -->
                  <v-tooltip left>
                    <template v-slot:activator="{ on }">
                      <v-btn
                        v-on="on"
                        @click="validate(item.id, item.title, item.company, item.location, 
                                item.description, item.startDate, item.endDate)"
                        class="mx-auto"
                        :disabled="!isEditing"
                        color="green lighten-2"
                        fab
                        medium
                      >
                        <v-icon>mdi-check</v-icon>
                      </v-btn>
                    </template>
                    <span>Enregistrer cette expérience</span>
                  </v-tooltip>
                </v-card-actions>
              </v-card-text>
              <!-- SNACKBAR VALIDATION PROFIL -->
              <v-snackbar
                v-model="hasSaved"
                :timeout="2000"
                absolute
                bottom
                center
              >Votre profil a été mis à jour !</v-snackbar>
            </v-form>
          </v-card>
        </v-tab-item>
      </v-tabs-items>
    </v-card>
  </div>
</template>

<script>

import axios from "axios";
import ModalExperience from "./ModalExperience.vue";
import moment from "moment";

export default {
  data() {
    return {
      //donnees
      title: "",
      company: "",
      items: [],
      dataExperience: {},
      //effets
      tab: null,
      isEditing: null,
      hasSaved: false
    };
  },

  components: {
    ModalExperience
  },

  beforeMount() {
    //Maj
    this.getNewData();
  },

  mounted() {
    //récupération token
    let token = this.$store.state.token;

    //requete bdd get experience du user
    axios.get("http://localhost:8000/api/experience", 
      {headers: { Authorization: "bearer " + token }})
      .then(response => {
        this.items = response.data;
        //recupere toutes dates d'entrées et sorties pour changer le format d'affichage
        for (let i = 0; i < this.items.length; i++) {
          let startDateFormat = moment(this.items[i].startDate.date, "YYYY-MM-DD").format("YYYY/MM/DD");
          let endDateFormat = moment(this.items[i].endDate.date, "YYYY-MM-DD").format("YYYY/MM/DD");
          if (this.items[i].startDate) {
            this.items[i].startDate = startDateFormat;
          }
          if (this.items[i].endDate) {
            this.items[i].endDate = endDateFormat;
          }
        }
      })
      .catch(err => {
        console.log(err);
      });
    //recupere les experiences afin de les envoyer à la bdd pour ensuite les afficher sur la page
    const getParserExperience = JSON.parse(localStorage.getItem("res"))["experience"];

    //hydrate l'objet expérience via les données parsées
    this.dataExperience = {
      title: "Titre",
      company: "",
      location: "",
      description: getParserExperience,
      startDate: "",
      endDate: ""
    };

    //console.log(this.dataExperience);
    axios.post("http://localhost:8000/api/experience", this.dataExperience, 
      {headers: { Authorization: "bearer " + token }});
  },

  methods: {
    // pour modifier les informations de la cardExpérience
    validate(id, title, company, location, description, startdate, enddate) {

      //si le formulaire est validé
      if (this.$refs.form[0].validate()) {
        //récupère le token
        let token = this.$store.state.token;
        //hydrate l'objet data pour put bdd
        const data = {
          id: id,
          title: title,
          company: company,
          location: location,
          description: description,
          startDate: startdate,
          endDate: enddate
        };
        //console.log(data);
        
        try {
          //put bdd experience du user
          axios({
            method: "PUT",
            url: "http://localhost:8000/api/experience",
            data,
            headers: { Authorization: "bearer " + token }
          }).then(response => console.log(response.data));
        } catch (err) {
          console.log(err);
        }
        //effets
        this.isEditing = !this.isEditing;
        this.hasSaved = true;
      }
    },
    //supprime une expérience en fonction de son id
    remove(id) {
      let token = this.$store.state.token;
      try {
        axios
          .delete("http://localhost:8000/api/experience/" + id, {
            headers: { Authorization: "bearer " + token }
          })
          .then(response => console.log(response.data));
      } catch (err) {
        console.log(err);
      }
      //effets + maj infos
      setTimeout(this.getNewData, 800);
      this.isEditing = !this.isEditing;
      this.hasSaved = true;
    },
    //Maj données
    getNewData() {
      let token = this.$store.state.token;
      axios
        .get("http://localhost:8000/api/experience", {
          headers: { Authorization: "bearer " + token }
        })
        .then(response => {
          //console.log(response.data);
          this.items = response.data;
          //recuperes toutes datse d'entrées et sorties pour changer le format d'affichage
          for (let i = 0; i < this.items.length; i++) {
            let startDateFormat = moment(this.items[i].startDate.date, "YYYY-MM-DD").format("DD/MM/YYYY");
            let endDateFormat = moment(this.items[i].endDate.date, "YYYY-MM-DD").format("DD/MM/YYYY");
            if (this.items[i].startDate) {
              this.items[i].startDate = startDateFormat;
            }
            if (this.items[i].endDate) {
              this.items[i].endDate = endDateFormat;
            }
          }
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};

</script>