<template>
  <div id="info_perso">
    <v-card class="pa-3 mx-auto elevation-24">
      <v-toolbar flat color="dark">
        <v-icon>mdi-account</v-icon>
        <v-toolbar-title class="font-weight-light">Infos personnelles</v-toolbar-title>
        <v-spacer></v-spacer>
        <!-- BOUTON MODIF -->
        <v-btn color="info darken-3" fab x-small @click="isEditing = !isEditing">
          <v-icon v-if="isEditing">mdi-close</v-icon>
          <v-icon v-else>mdi-pencil</v-icon>
        </v-btn>
      </v-toolbar>
      <!-- ZONE INFO PERSO -->
      <v-form ref="form" @submit="validate">
        <v-card-text>
          <v-text-field
            label="Nom"
            v-model="dataUser.lastName"
            :disabled="!isEditing"
            color="light-blue darken-4"
          ></v-text-field>
          <v-text-field
            label="Prénom"
            v-model="dataUser.firstName"
            :disabled="!isEditing"
            color="light-blue darken-4"
          ></v-text-field>
          <v-text-field
            label="email"
            v-model="dataUser.email"
            :disabled="!isEditing"
            color="light-blue darken-4"
          ></v-text-field>
          <v-select
            label="Années d'expériences"
            v-model="dataUser.experienceYears"
            :items="experience"
            :disabled="!isEditing"
            color="light-blue darken-4"
            chips
          ></v-select>
          <v-select
            label="Niveau de diplôme"
            v-model="dataUser.diplomaLevel"
            :items="level"
            :disabled="!isEditing"
            color="light-blue darken-4"
            chips
          ></v-select>
          <v-form lazy-validation v-on:submit.prevent="onSubmit" enctype="multipart/form-data">
            <div class="form-group mb-4">
              <v-file-input
                label="Photo de profil"
                type="file"
                @change="onSelect"
                accept="image/png, image/jpeg, image/jpg"
                :disabled="!isEditing"
                prepend-icon="mdi-camera"
              />
            </div>
          </v-form>
          <v-card-actions>
            <v-spacer></v-spacer>
            <!-- BOUTON VALIDATION -->
            <v-tooltip left>
              <template v-slot:activator="{ on }">
                <v-btn
                  v-on="on"
                  type="submit"
                  @click="validate(); onSubmit()"
                  :disabled="!isEditing"
                  color="green lighten-2"
                  fab
                  medium
                >
                  <v-icon>mdi-check</v-icon>
                </v-btn>
              </template>
              <span>Enregistrer mes infos personnelles</span>
            </v-tooltip>
          </v-card-actions>
        </v-card-text>
        <!-- SNACKBAR PROFIL OK -->
        <v-snackbar
          v-model="hasSaved"
          :timeout="2000"
          absolute
          bottom
          center
        >Votre profil a été mis à jour !</v-snackbar>
      </v-form>
    </v-card>
  </div>
</template>

<script>
import axios from "axios";
//import bus from exchange data
import { bus } from "../../main";

export default {
  data() {
    return {
      //donnees
      cvfile: "",
      avatar: "",
      dataUser: {},
      file: {},
      experience: [
        "Non renseignée",
        "Débutant à 1 an",
        "1-2 ans",
        "3-5 ans",
        "6-10 ans",
        "11-20 ans",
        "21 ans et plus"
      ],
      level: [
        "Non renseigné",
        "Aucun diplôme",
        "BEPC - Brevet des collèges",
        "BEP",
        "CAP / CFPA",
        "CQP - Certificat de Qualification Professionnelle",
        "Brevet Professionnel BP, Brevet de Technicien BT",
        "Bac Professionnel, Bac Technologique",
        "Bac Général",
        "Bac +1",
        "Bac +2",
        "Bac +2 type DEUG, DUES",
        "Bac +2 type BTS, DUT, DTS",
        "Bac +2, diplôme des metiers d'art DMA",
        "Bac +3",
        "Licence générale, Licence professionnelle",
        "Bac +4",
        "Bac +5",
        "Bac +5, type DEA - DESS",
        "Bac +5, Master Magistère, MIAGE",
        "Diplôme de grande école de commerce",
        "Master spécialisé",
        "Doctorat",
        "Bac +7 et plus"
      ],
      //effets
      hasSaved: false,
      isEditing: null,
      model: null
    };
  },

  mounted() {
    //récupère le token
    let token = this.$store.state.token;

    axios.get("http://localhost:8000/api/user", 
      {headers: { Authorization: "bearer " + token }})
      .then(response => {
        //console.log("response", response.data);
        //hydrate objet dataUser
        this.dataUser = {
          firstName: response.data.firstName,
          lastName: response.data.lastName,
          email: response.data.email,
          experienceYears: response.data.experienceYears,
          diplomaLevel: response.data.diplomaLevel,
          avatar: response.data.avatar
        };
        return (this.dataUser = response.data);
      })
      .catch(err => {
        console.log(err);
      });
  },

  methods: {

    validate() {
      //si le formulaire est valide
      if (this.$refs.form.validate()) {
        //récupère token
        let token = this.$store.state.token;
        //hydrate objet data pour put
        const data = {
          lastname: this.dataUser.lastName,
          firstname: this.dataUser.firstName,
          email: this.dataUser.email,
          experienceYears: this.dataUser.experienceYears,
          diplomaLevel: this.dataUser.diplomaLevel
        };
        //console.log(data);

        try {
          //requete put user bdd
          axios({
            method: "PUT",
            url: "http://localhost:8000/api/user",
            data,
            headers: { Authorization: "bearer " + token }
          }).then(response => console.log(response.data));
          //effets
          this.hasSaved = true;
        } catch (err) {
          console.log(err);
        }
        //effet
        this.isEditing = !this.isEditing;
      }
    },

    onSelect(file) {
      //récupère nom avatar
      if (file) {
        let files = file;
        console.log(files);
        this.file = file;
      }
    },

    async onSubmit() {
      //récupère token
      let token = this.$store.state.token;
      //créé un objet formdata avec le file
      const formData = new FormData();
      formData.append("myfile", this.file);

      //envoie des données a symfony pour le traitement
      try {
        await axios.post("http://localhost:8000/api/user", formData, 
          {headers: { Authorization: "bearer " + token }})
          .then(res => console.log(res.data))
          .catch(err => console.log(err));
          //change l'avatar
        await this.changeAvatar();
      } catch (err) {
        console.log(err);
      }
    },
    changeAvatar() {
      //émet un évènement dans le bus pour modifier l'avatar
      bus.$emit("changeIt", "modifAvatar");
      //console.log("envoi bus");
    }
  }
};
</script>