<template>
  <div id="info_research">
    <v-card class="pa-3 mx-auto elevation-24">
      <v-toolbar flat color="dark">
        <v-icon>mdi-watch</v-icon>
        <v-toolbar-title class="font-weight-light">Recherche d'emploi</v-toolbar-title>
        <v-spacer></v-spacer>
        <!-- BOUTON MODAL RESEARCHFORM -->
        <ModalResearch @emitEvent="getNewData" />
      </v-toolbar>
      <!-- ZONE INFO RECHERCHE EMPLOI -->
      <v-form ref="form">
        <v-card-text>
          <p class="font-weight-light">Titre du poste recherché:</p>
          <span v-for="(item, i) in researchUser.title" :key="`title-${i}`">
            <v-chip color="blue lighten-3" class="ma-2 mt-n2">{{ item }}</v-chip>
          </span>
          <br />
          <p class="font-weight-light">Localisation de l'emploi recherché:</p>
          <span v-for="(item, i) in researchUser.location" :key="`location-${i}`">
            <v-chip color="blue lighten-3" class="ma-2 mt-n2">{{ item }}</v-chip>
          </span>
          <br />
          <p class="font-weight-light">Type de contrat recherché:</p>
          <span v-for="(item, i) in researchUser.researchContracts" :key="`contract-${i}`">
            <v-chip color="blue lighten-3" class="ma-2 mt-n2">{{ item.name }}</v-chip>
          </span>
          <br />
          <p class="font-weight-light">Secteur d'activité:</p>
          <span v-for="(item, i) in researchUser.researchDomains" :key="`domain-${i}`">
            <v-chip color="blue lighten-3" class="ma-2 mt-n2">{{ item.name }}</v-chip>
          </span>
          <br />
          <p class="font-weight-light">Type d'emploi recherché:</p>
          <span v-for="(item, i) in researchUser.researchPartTimes" :key="`partTime-${i}`">
            <v-chip color="blue lighten-3" class="ma-2 mt-n2">{{ item.name }}</v-chip>
          </span>
          <br />
          <p class="font-weight-light">Salaire annuel brut souhaité:</p>
          <v-chip color="blue lighten-3" class="ma-2 mt-n2">{{ researchUser.pay }}</v-chip>
        </v-card-text>
        <!-- SNACKBAR PROFIL OK -->
        <v-snackbar
          v-model="hasSaved"
          :timeout="2000"
          absolute
          bottom
          center
        >Votre profil a été mis à jour !</v-snackbar>
      </v-form>
    </v-card>
  </div>
</template>

<script>

import axios from "axios";
import ModalResearch from "./ModalResearch.vue";

export default {

  components: {
    ModalResearch
  },

  data() {
    return {
      //donnees
      researchUser: {},
      //effets
      hasSaved: false,
      jobEdit: null,
      model: null
    };
  },

  mounted() {
    //récupère le token
    let token = this.$store.state.token;
    //requete bdd get research
    axios.get("http://localhost:8000/api/research", 
      {headers: { Authorization: "bearer " + token }})
      .then(response => {
        //console.log("response", response.data);
        //hydrate objet researchUser
        this.researchUser = {
          title: response.data[0].title[0],
          location: response.data[0].location[0],
          researchContracts: response.data[0].researchContracts,
          researchDomains: response.data[0].researchDomains,
          researchPartTimes: response.data[0].researchPartTimes,
          pay: response.data[0].pay.payRange
        };
        //console.log(this.researchUser);
      })
      .catch(err => {
        console.log(err);
      });
  },

  methods: {
    //maj donnees
    getNewData() {
      let token = this.$store.state.token;
      //requete bdd get research du user
      axios.get("http://localhost:8000/api/research", 
        {headers: { Authorization: "bearer " + token }})
        .then(response => {
          //console.log("response", response.data);
          //hydrate objet ResearchUser
          this.researchUser = {
            title: response.data[0].title[0],
            location: response.data[0].location[0],
            researchContracts: response.data[0].researchContracts,
            researchDomains: response.data[0].researchDomains,
            researchPartTimes: response.data[0].researchPartTimes,
            pay: response.data[0].pay.payRange
          };
          //console.log(this.researchUser);
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>