<template>
  <div id="info_formation">
    <v-card class="pa-3 mx-auto elevation-24">
      <v-card-title class="mb-6">
        <v-icon>mdi-domain</v-icon>
        <v-toolbar-title class="font-weight-light">Formations</v-toolbar-title>
        <v-spacer></v-spacer>
        <!-- BOUTON MODAL FORMATION -->
        <modal-formation @emitEvent="getNewData" />
      </v-card-title>
      <!-- ZONE TITRE FORMATION -->
      <v-tabs v-model="tab" background-color="transparent" color="basil" grow>
        <v-tab v-for="item in items" :key="item.id" v-model="title">{{ item.title }}</v-tab>
      </v-tabs>
      <!-- ZONE AFFICHAGE FORMATION -->
      <v-tabs-items v-model="tab">
        <v-tab-item v-for="item in items" :key="item.id">
          <v-card flat color="basil">
            <!-- BOUTON MODIF -->
            <v-btn text small color="info darken-3" fab @click="isEditing = !isEditing">
              <v-icon v-if="isEditing">mdi-close</v-icon>
              <v-icon v-else>mdi-pencil</v-icon>
            </v-btn>
            <!-- ZONE INFOS FORMATION -->
            <v-form ref="form" @submit="validate">
              <v-card-text>
                <v-row>
                  <v-col cols="12" md="12">
                    <v-text-field label="Nom de la formation" v-model="item.title" :disabled="!isEditing"></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="6">
                    <v-text-field :disabled="!isEditing" v-model="item.level" label="Diplôme"></v-text-field>
                  </v-col>
                  <v-col cols="12" md="6">
                    <v-text-field :disabled="!isEditing" v-model="item.school" label="Ecole"></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <v-text-field :disabled="!isEditing" v-model="item.location" label="Lieu"></v-text-field>
                  </v-col>
                </v-row>
                <!-- ZONE DATE PICKER ENTREE -->
                <v-row>
                  <v-col cols="12" sm="6">
                    <div class="form-group">
                      <!-- Date input -->
                      <label class="control-label" for="date">Date d'entrée :</label>
                      <input
                        id="date"
                        class="form-control"
                        name="date"
                        v-model="item.startDate"
                        placeholder="année/mois/jour"
                        type="text"
                        :disabled="!isEditing"
                      />
                    </div>
                  </v-col>
                  <!-- ZONE DATE PICKER SORTIE -->
                  <v-col cols="12" sm="6">
                    <div class="form-group">
                      <!-- Date input -->
                      <label class="control-label" for="date">Date de sortie :</label>
                      <input
                        id="date"
                        class="form-control"
                        name="date"
                        v-model="item.endDate"
                        placeholder="année/mois/jour"
                        type="text"
                        :disabled="!isEditing"
                      />
                    </div>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="15">
                    <v-textarea
                      label="Description"
                      v-model="item.description"
                      :disabled="!isEditing"
                      outlined
                    ></v-textarea>
                  </v-col>
                </v-row>
                <v-card-actions>
                  <!-- BOUTON SUPPR FORMATION -->
                  <v-tooltip right>
                    <template v-slot:activator="{ on }">
                      <v-btn
                        v-on="on"
                        @click="remove(item.id)"
                        color="red lighten-1"
                        :disabled="!isEditing"
                        fab
                        medium
                      >
                        <v-icon>mdi-delete</v-icon>
                      </v-btn>
                    </template>
                    <span>Supprimer cette formation</span>
                  </v-tooltip>
                  <v-spacer></v-spacer>

                  <!-- BOUTON VALIDATION MODIF -->
                  <v-tooltip left>
                    <template v-slot:activator="{ on }">
                      <v-btn
                        v-on="on"
                        @click="validate(item.id,item.school,item.title,item.level,item.location,item.description,item.startDate,item.endDate)"
                        color="green lighten-2"
                        :disabled="!isEditing"
                        fab
                        medium
                      >
                        <v-icon>mdi-check</v-icon>
                      </v-btn>
                    </template>
                    <span>Enregistrer cette formation</span>
                  </v-tooltip>
                </v-card-actions>
              </v-card-text>
              <!-- SNACKBAR PROFIL OK -->
              <v-snackbar
                v-model="hasSaved"
                :timeout="2000"
                absolute
                bottom
                center
              >Votre profil a été mis à jour !</v-snackbar>
            </v-form>
          </v-card>
        </v-tab-item>
      </v-tabs-items>
    </v-card>
  </div>
</template>

<script>

import axios from "axios";
import ModalFormation from "./ModalFormation";
import moment from "moment";

export default {
  data() {
    return {
      //donnees
      title: "",
      items: [],
      dataFormation: {},
      //effets
      tab: null,
      isEditing: null,
      hasSaved: false
    };
  },

  components: {
    ModalFormation
  },

  beforeMount() {
    //maj donnees
    this.getNewData();
  },

  mounted() {
    //récupère token
    let token = this.$store.state.token;

    axios.get("http://localhost:8000/api/formation", 
      {headers: { Authorization: "bearer " + token }})
      .then(response => {
        this.items = response.data;
        //recuperes toutes date d'entrées et sorties pour changer le format d'affichage
        for (let i = 0; i < this.items.length; i++) {
          let startDateFormat = moment(this.items[i].startDate.date, "YYYY-MM-DD").format("YYYY/MM/DD");
          let endDateFormat = moment(this.items[i].endDate.date, "YYYY-MM-DD").format("YYYY/MM/DD");
          this.items[i].startDate = startDateFormat;
          this.items[i].endDate = endDateFormat;
        }
      })
      .catch(err => {
        console.log(err);
      });
    //recupere les formations parsées afin de les envoyer à la bdd pour ensuite les afficher sur la page
    let getParserFormation = JSON.parse(localStorage.getItem("res"))["formation"];

    //hydrate objet formation
    this.dataFormation = {
      title: "Titre",
      level: "",
      school: "",
      location: "",
      description: getParserFormation,
      startDate: "",
      endDate: ""
    };
    //console.log(this.dataFormation);
    //post formation bdd
    axios.post("http://localhost:8000/api/formation", this.dataFormation, 
      {headers: { Authorization: "bearer " + token }});
  },

  methods: {
    //submit formation
    validate(id,school,title,level,location,description,startdate,enddate) {

      //si le formulaire est valide
      if (this.$refs.form[0].validate()) {
        //réceupère le token
        let token = this.$store.state.token;
        //hydrate l'objet data pour PUT / POST
        const data = {
          id: id,
          title: title,
          level: level,
          school: school,
          location: location,
          description: description,
          startDate: startdate,
          endDate: enddate
        };
        //console.log(data);
        try {
          // put bdd formation
          axios({
            method: "PUT",
            url: "http://localhost:8000/api/formation",
            data,
            headers: { Authorization: "bearer " + token }
          }).then(response => console.log(response.data));
        } catch (err) {
          console.log(err);
        }
        this.isEditing = !this.isEditing;
        this.hasSaved = true;
      }
    },

    //supprime une formation en fonction de son id
    remove(id) {
      let token = this.$store.state.token;
      try {
        axios.delete("http://localhost:8000/api/formation/" + id, 
          {headers: { Authorization: "bearer " + token }})
          .then(response => console.log(response.data));
      } catch (err) {
        console.log(err);
      }
      //effets
      setTimeout(this.getNewData, 800);
      this.isEditing = !this.isEditing;
      this.hasSaved = true;
    },

    //maj donnees
    getNewData() {
      //récupère token
      let token = this.$store.state.token;
      //get formations du user
      axios.get("http://localhost:8000/api/formation", 
        {headers: { Authorization: "bearer " + token }})
        .then(response => {
          this.items = response.data;
          //recuperes toutes date d'entrées et sorties pour changer le format d'affichage
          for (let i = 0; i < this.items.length; i++) {
            let startDateFormat = moment(this.items[i].startDate.date, "YYYY-MM-DD").format("DD/MM/YYYY");
            let endDateFormat = moment(this.items[i].endDate.date, "YYYY-MM-DD").format("DD/MM/YYYY");
            this.items[i].startDate = startDateFormat;
            this.items[i].endDate = endDateFormat;
          }
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>