<template>
  <v-row justify="center">
    <!-- modal modification research -->
    <v-dialog v-model="dialog" persistent max-width="1100px">
      <template v-slot:activator="{ on }">
        <v-btn class="mr-4 mx-auto" color="info darken-3" fab x-small v-on="on">
          <v-icon>mdi-pencil</v-icon>
        </v-btn>
      </template>
      <v-card>
        <h4 class="text-center">RECHERCHE D'EMPLOI</h4>
        <v-container>
          <!-- formulaire -->
          <v-form ref="form" @submit="validate">
            <v-col>
              <v-autocomplete
                label="Postes recherchés"
                name="title_required"
                v-model="researchUser.title"
                :items="AllJobs"
                item-text="libelle"
                :rules="jobMaxLength"
                counter=3
                multiple
                chips
                hint="Vous pouvez en sélectionner jusqu'à 3"
                persistent-hint
              ></v-autocomplete>
            </v-col>
            <v-col>
              <v-autocomplete
                label="Lieux souhaités"
                name="location_required"
                v-model="researchUser.location"
                :items="AllLocations"
                item-text="nom"
                :rules="locationMaxLength"
                counter=5
                multiple
                chips
                hint="Vous pouvez en sélectionner jusqu'à 5"
                persistent-hint
              ></v-autocomplete>
            </v-col>
            <v-col>
              <v-select
                label="Salaire annuel brut souhaité"
                name="salary_required"
                v-model="researchUser.pay"
                :items="dataPay"
                item-text="name"
                :rules="payRules"
                required
                hint="Vous ne pouvez en sélectionner qu'un seul"
                persistent-hint
              ></v-select>
            </v-col>
            <v-col>
              <v-select
                label="Types de contrats"
                name="contract_required"
                v-model="researchUser.researchContracts"
                :items="dataContract"
                item-text="name"
                multiple
                chips
                hint="Vous pouvez en sélectionner plusieurs"
                persistent-hint
              ></v-select>
            </v-col>
            <v-col>
              <v-select
                label="Type d'emploi"
                v-model="researchUser.researchPartTimes"
                :items="dataPartTime"
                item-text="name"
                multiple
                chips
                hint
                persistent-hint
              ></v-select>
            </v-col>
            <v-col>
              <v-autocomplete
                label="Secteurs d'activité"
                v-model="researchUser.researchDomains"
                :items="dataDomain"
                item-text="name"
                multiple
                chips
                hint
                persistent-hint
              ></v-autocomplete>
            </v-col>
            <!-- bouton valider -->
            <v-btn
              type="submit"
              color="info darken-3"
              @click.stop.prevent="validate(), emitEvent()"
            >Valider</v-btn>
            <!-- bouton retour profil -->
            <v-btn
              type="submit"
              color="info darken-3"
              text
              @click.prevent="dialog = false"
            >Retourner à mon profil</v-btn>
          </v-form>
        </v-container>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import axios from "axios";
import metiers from "../donnees/metiers.js";
import localisations from "../donnees/localisations.js";

export default {
  name: "ModalResearch",

  data() {
    return {
      //donnees
      salary: [],
      dataPay: [],
      dataDomain: [],
      dataContract: [],
      dataPartTime: [],
      type: [],
      contract: [],
      researchUser: {},
      AllJobs: {},
      AllLocations: {},
      //rules
      payRules: [v => !!v || "Renseignez une tranche salariale"],
      jobMaxLength: [v => v.length <= 3 || "Vous ne pouvez renseigner que 3 villes"],
      locationMaxLength: [v => v.length <= 5 || "Vous ne pouvez renseigner que 3 villes"],
      //effets
      dialog: false,
      valid: true,

      token: ""
    };
  },

  beforeMount() {
    //recupère token du localStorage
    this.token = localStorage.getItem("token");
  },

  mounted() {
    //liste de tous les métiers + codes
    this.AllJobs = metiers.data().allMetiers;
    
    //liste de toutes les localisations + codes
    this.AllLocations = localisations.data().allLocalisations;

    let token = this.$store.state.token;
    //console.log(token);

    //requete bdd get tous les salaires
    axios.get("http://localhost:8000/api/pay", 
      {headers: { Authorization: "bearer " + token }})
      .then(response => {
        //console.log("response", response.data);
        for (let i = 0; i < response.data.length; i++) {
          //pousse les résultats dans le tableau dataPay
          this.dataPay.push(response.data[i]);
        }
      })
      .catch(err => {
        console.log(err);
      });

    //requete bdd get tous les domaines
    axios.get("http://localhost:8000/api/domain", 
      {headers: { Authorization: "bearer " + token }})
      .then(response => {
        //console.log("response", response.data);
        for (let i = 0; i < response.data.length; i++) {
          //pousse les résultats dans le tableau dataDomain
          this.dataDomain.push(response.data[i]);
        }
      })
      .catch(err => {
        console.log(err);
      });

    //requete bdd get tous les contrats
    axios.get("http://localhost:8000/api/contract", 
      {headers: { Authorization: "bearer " + token }})
      .then(response => {
        //console.log("response", response.data);
        for (let i = 0; i < response.data.length; i++) {
          //pousse les résultats dans le tableau dataContract
          this.dataContract.push(response.data[i]);
        }
      })
      .catch(err => {
        console.log(err);
      });

    //requete bdd get tous les types d'emploi
    axios.get("http://localhost:8000/api/partTime", 
      {headers: { Authorization: "bearer " + token }})
      .then(response => {
        //console.log("response", response.data);
        for (let i = 0; i < response.data.length; i++) {
          //pousse les résultats dans le tableau dataPartTime
          this.dataPartTime.push(response.data[i]);
        }
      })
      .catch(err => {
        console.log(err);
      });

    //requete bdd get research du user si existant
    axios.get("http://localhost:8000/api/research", 
      {headers: { Authorization: "bearer " + token }})
      .then(response => {
        //console.log("response", response.data);
        //hydrate objet researchUser
        this.researchUser = {
          id: response.data[0].id,
          title: response.data[0].title[0],
          location: response.data[0].location[0],
          researchContracts: response.data[0].researchContracts,
          researchDomains: response.data[0].researchDomains,
          researchPartTimes: response.data[0].researchPartTimes,
          pay: response.data[0].pay.payRange
        };
        //console.log(this.researchUser);
        //return (this.researchUser = response.data);
      })
      .catch(err => {
        console.log(err);
      });
  },

  methods: {
    async validate() {
      // si le formulaire est valide
      if (this.$refs.form.validate()) {

        //recupère l'id du salaire choisi
        let indexPay = "";
        for (let a = 0; a < this.dataPay.length; a++) {
          if (this.dataPay[a].name === this.researchUser.pay) {
            indexPay = this.dataPay[a].id;
          }
        }

        //recupère les id des contrats choisis
        let tabIndexContract = [];
        if (this.researchUser.researchContracts) {
          for (let b = 0; b < this.researchUser.researchContracts.length; b++) {
            for (let c = 0; c < this.dataContract.length; c++) {
              if (
                this.dataContract[c].name ===
                this.researchUser.researchContracts[b]
              ) {
                tabIndexContract.push(this.dataContract[c].id);
                //console.log(tabIndexContract);
              }
            }
          }
        }

        //recupère les id des types d'emplois choisis
        let tabIndexPartTime = [];
        if (this.researchUser.researchPartTimes) {
          for (let d = 0; d < this.researchUser.researchPartTimes.length; d++) {
            for (let e = 0; e < this.dataPartTime.length; e++) {
              if (
                this.dataPartTime[e].name ===
                this.researchUser.researchPartTimes[d]
              ) {
                tabIndexPartTime.push(this.dataPartTime[e].id);
                //console.log(tabIndexPartTime);
              }
            }
          }
        }

        //recupère les id des domaines choisis
        let tabIndexDomain = [];
        if (this.researchUser.researchDomains) {
          for (let f = 0; f < this.researchUser.researchDomains.length; f++) {
            for (let g = 0; g < this.dataDomain.length; g++) {
              if (
                this.dataDomain[g].name === this.researchUser.researchDomains[f]
              ) {
                tabIndexDomain.push(this.dataDomain[g].id);
                //console.log(tabIndexDomain);
              }
            }
          }
        }

        //récupère le token
        let token = this.$store.state.token;

        //si le user n'a pas de research enregistrée -> post sinon put
        if (!this.researchUser.id) {
          //hydrate objet data pour post bdd
          let data = {
            title: this.researchUser.title,
            location: this.researchUser.location,
            pay: indexPay,
            researchContracts: tabIndexContract,
            researchPartTimes: tabIndexPartTime,
            researchDomains: tabIndexDomain
          };
          try {
            //post objet data dans bdd research 
            await axios.post("http://localhost:8000/api/research", data, 
              {headers: { 'Authorization': "bearer " + token }})
              .then(
                //envoi les codes métiers et localisations dans le local storage
                console.log("form submitted"),this.StorageTest(this.researchUser.title, this.researchUser.location),
                axios.get("http://localhost:8000/api/research", 
                  {headers: { 'Authorization': "bearer " + token }})
                  .then(response => {
                    //console.log("response", response.data);
                    //hydrate objet researchUser
                    this.researchUser = {
                      id: response.data[0].id,
                      title: response.data[0].title[0],
                      location: response.data[0].location[0],
                      researchContracts: response.data[0].researchContracts,
                      researchDomains: response.data[0].researchDomains,
                      researchPartTimes: response.data[0].researchPartTimes,
                      pay: response.data[0].pay.payRange
                    };
                    //console.log(this.researchUser);
                    //return (this.researchUser = response.data);
                  })
                  .catch(err => {
                    console.log(err);
                  })
              );
          } catch (err) {
            console.log(err);
          }
          this.dialog = false;
        } else {
          try {
            //hydrate objet data pour put bdd
            let data = {
              id: this.researchUser.id,
              title: this.researchUser.title,
              location: this.researchUser.location,
              pay: indexPay,
              researchContracts: tabIndexContract,
              researchPartTimes: tabIndexPartTime,
              researchDomains: tabIndexDomain
            };
            //console.log(data);
            //put research du user dans bdd
            await axios({
              method: "PUT",
              url: "http://localhost:8000/api/research",
              data,
              headers: { Authorization: "bearer " + token }
            })
              .then(
                //envoi les codes métiers et localisations dans le local storage
                console.log("put effectué"),
                this.StorageTest(this.researchUser.title, this.researchUser.location) 
              );
          } catch (err) {
            console.log(err);
          }
          //ferme la modal
          this.dialog = false;
        }
      }
    },
    StorageTest(metiers, locations){
      //récupère les codes métiers et envoi local storage
      if(metiers){
        let TabCodesMetiers = [];
        for(let i=0; i<(this.AllJobs).length; i++){
          for(let j=0; j<metiers.length; j++){
            if(metiers[j]=== this.AllJobs[i].libelle){
              TabCodesMetiers.push(this.AllJobs[i].code);
            }
          }
        }
        localStorage.removeItem('TabCodesMetiers', TabCodesMetiers)
        localStorage.setItem('TabCodesMetiers', TabCodesMetiers)
        //console.log(TabCodesMetiers);
      }
      //récupère les codes localisations et envoi local storage
      if(locations){
        let TabCodesLocations = [];
        for(let k=0; k<(this.AllLocations).length; k++){
          for(let l=0; l<locations.length; l++){
            if(locations[l]=== this.AllLocations[k].nom){
              TabCodesLocations.push(this.AllLocations[k].code);
            }
          }
        }
        localStorage.removeItem('TabCodesLocations', TabCodesLocations)
        localStorage.setItem('TabCodesLocations', TabCodesLocations)
        //console.log(TabCodeslocations);

      }
    },
    //emet évènement pour mettre à jour dynamiquement la CardJobResearch
    emitEvent() {
      this.$emit("emitEvent");
    }
  }
};
</script>