<template>
  <v-row class="mx-auto">
    <v-dialog v-model="dialog" persistent max-width="600px">
      <!-- BOUTON MODIF -->
      <template v-slot:activator="{ on }">
        <v-btn class="mr-2 mx-auto" color="info darken-3" fab x-small v-on="on">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </template>
      <v-card>
        <h4 class="text-center">AJOUTER UNE EXPERIENCE</h4>
        <v-container>
          <!-- formulaire -->
          <v-form ref="form">
            <v-text-field label="Nom de l'expérience" v-model="title"></v-text-field>
            <v-text-field label="Entreprise" v-model="company"></v-text-field>
            <v-text-field label="Lieu" v-model="location"></v-text-field>
            <!-- ZONE DATE PICKER ENTREE -->
            <v-row>
              <v-col cols="12" sm="6">
                <div class="md-form ml-3">
                  <label for="inputMDEx">Date d'entrée :</label>
                  <input type="date" id="inputMDEx" class="form-control" v-model="startDate" />
                </div>
              </v-col>
              <!-- ZONE DATE PICKER SORTIE -->
              <v-col cols="12" sm="6">
                <div class="md-form mr-3">
                  <label for="inputMDEx">Date de sortie :</label>
                  <input type="date" id="inputMDEx" class="form-control" v-model="endDate" />
                </div>
              </v-col>
            </v-row>
            <v-textarea label="Description" v-model="description" outlined small></v-textarea>
            <v-card-actions>
              <v-spacer></v-spacer>
              <!-- ferme modal ou valide et emet un évènement -->
              <v-btn color="primary" text @click="dialog = false">Revenir au profil</v-btn>
              <v-btn color="primary" text @click="validate(), emitEvent()">Ajouter</v-btn>
            </v-card-actions>
          </v-form>
        </v-container>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>

import axios from "axios";

export default {

  data: () => ({
    //donnees
    title: "",
    company: "",
    location: "",
    description: "",
    startDate: "",
    endDate: "",
    //effets
    dialog: false,
    valid: true
  }),

  methods: {

    async validate() {
      //si le formulaire est valide
      if (this.$refs.form.validate()) {
        //hydrate objet data
        const data = {
          title: this.title,
          company: this.company,
          location: this.location,
          description: this.description,
          startDate: this.startDate,
          endDate: this.endDate
        };
        //console.log(data);

        //récupère token
        let token = this.$store.state.token;

        try {
          await axios.post("http://localhost:8000/api/experience", data, 
            {headers: { Authorization: "bearer " + token }})
            .then(response => {
              console.log("response", response.data);
            })
            .catch(err => {
              console.log(err);
            });
        } catch (err) {
          console.log(err);
        }
      }
      //ferme la modal
      this.dialog = false;
    },

    emitEvent() {
      //émet un évènement pour reload
      this.$emit("emitEvent");
      //console.log("from child");
    }
  }
};
</script>