<template>
  <v-row class="mx-auto">
    <v-dialog v-model="dialog" persistent max-width="600px">
      <!-- BOUTON MODIF -->
      <template v-slot:activator="{ on }">
        <v-btn class="mr-2 mx-auto" color="info darken-3" fab x-small v-on="on">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </template>
      <v-card>
        <h4 class="text-center">AJOUTER UNE FORMATION</h4>
        <v-container>
          <v-form ref="form" @submit="validate">
            <v-text-field label="Nom de la formation" v-model="title"></v-text-field>
            <v-select
              label="Diplôme"
              v-model="diplomaLevel"
              :items="level"
              item-text="level"
              chips
              persistent-hint
            ></v-select>
            <v-text-field label="Ecole" v-model="school"></v-text-field>
            <v-text-field label="Lieu" v-model="location"></v-text-field>
            <!-- ZONE DATE PICKER ENTREE -->
            <v-row>
              <v-col cols="12" sm="6">
                <div class="md-form ml-3">
                  <label for="inputMDEx">Date d'entrée :</label>
                  <input type="date" id="inputMDEx" class="form-control" v-model="startDate" />
                </div>
              </v-col>
              <!-- ZONE DATE PICKER SORTIE -->
              <v-col cols="12" sm="6">
                <div class="md-form mr-3">
                  <label for="inputMDEx">Date de sortie :</label>
                  <input type="date" id="inputMDEx" class="form-control" v-model="endDate" />
                </div>
              </v-col>
            </v-row>
            <v-textarea label="Description" v-model="description" outlined small></v-textarea>
            <v-card-actions>
              <v-spacer></v-spacer>
              <!-- ferme modal ou valide et emet un évènement -->
              <v-btn color="primary" text @click="dialog = false">Revenir au profil</v-btn>
              <v-btn color="primary" text @click="validate(), emitEvent()">Ajouter</v-btn>
            </v-card-actions>
          </v-form>
        </v-container>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import axios from "axios";
export default {

  data: () => ({
    //donnees
    title: "",
    diplomaLevel: "",
    school: "",
    description: "",
    location: "",
    startDate: "",
    endDate: "",
    level: [
      "Non renseigné",
      "Aucun diplôme",
      "BEPC - Brevet des collèges",
      "BEP",
      "CAP / CFPA",
      "CQP - Certificat de Qualification Professionnelle",
      "Brevet Professionnel BP, Brevet de Technicien BT",
      "Bac Professionnel, Bac Technologique",
      "Bac Général",
      "Bac +1",
      "Bac +2",
      "Bac +2 type DEUG, DUES",
      "Bac +2 type BTS, DUT, DTS",
      "Bac +2, diplôme des metiers d'art DMA",
      "Bac +3",
      "Licence générale, Licence professionnelle",
      "Bac +4",
      "Bac +5",
      "Bac +5, type DEA - DESS",
      "Bac +5, Master Magistère, MIAGE",
      "Diplôme de grande école de commerce",
      "Master spécialisé",
      "Doctorat",
      "Bac +7 et plus"
    ],
    //effets
    dialog: false,
    valid: true
  }),

  methods: {

    async validate() {
      //si le formulaire est valide 
      if (this.$refs.form.validate()) {
        //hydrate objet data
        const data = {
          title: this.title,
          level: this.diplomaLevel,
          school: this.school,
          location: this.location,
          description: this.description,
          startDate: this.startDate,
          endDate: this.endDate
        };
        //console.log(data);

        //récupère token
        let token = this.$store.state.token;

        try {
          //requete bdd post formation
          await axios.post("http://localhost:8000/api/formation", data, 
            {headers: { Authorization: "bearer " + token }})
            .then(response => {
              console.log("response", response.data);
            })
            .catch(err => {
              console.log(err);
            });
        } catch (err) {
          console.log(err);
        }
        //ferme la modal
        this.dialog = false;
      }
    },

    emitEvent() {
      //émet un évènement pour reload
      this.$emit("emitEvent");
    }
  }
};

</script>