<template>
  <!-- importation des différents composants du profil user -->
  <v-container fluid>
    <v-row>
      <v-col cols="3">
        <card-profil-menu />
      </v-col>
      <v-col cols="7">
        <card-personnal-info />
        <br />
        <card-job-research />
        <br />
        <card-experience />
        <br />
        <card-formation />
        <br />
        <card-skill />
        <br />
        <card-hobbie />
      </v-col>
    </v-row>
  </v-container>
</template>
<script>

import CardProfilMenu from "./CardProfilMenu.vue";
import CardPersonnalInfo from "./CardPersonnalInfo.vue";
import CardJobResearch from "./CardJobResearch.vue";
import CardExperience from "./CardExperience.vue";
import CardFormation from "./CardFormation.vue";
import CardSkill from "./CardSkill.vue";
import CardHobbie from "./CardHobbie.vue";

export default {

  name: "ProfilUser",

  components: {
    CardProfilMenu,
    CardPersonnalInfo,
    CardJobResearch,
    CardExperience,
    CardFormation,
    CardSkill,
    CardHobbie
  }
};
</script>




